.header {
  &__container {
    position: fixed;
    z-index: 999;
    color: whitesmoke;
    // background: $primary-background-gradient;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 0.1rem white solid;
    .navigation {
      z-index: 101;
      &__toggle {
        width: 4.5rem;
        height: 4.5rem;
        position: relative;
        z-index: 7;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        margin-top: 2rem;
        cursor: pointer;
        span {
          display: block;
          position: absolute;
          height: 0.5rem;
          width: 100%;
          background: #ffffff;
          border-radius: 1rem;
          opacity: 1;
          left: 0;
          &:nth-child(1) {
            top: 0;
          }
          &:nth-child(2),
          &:nth-child(3) {
            top: 1.2rem;
          }
          &:nth-child(4) {
            top: 2.4rem;
          }
        }
      }
      .open {
        transform: translate(135px, 0px);
        span {
          &:nth-child(1),
          &:nth-child(4) {
            top: 18px;
            width: 0%;
            left: 50%;
          }
          &:nth-child(2) {
            transform: rotate(45deg);
          }
          &:nth-child(3) {
            transform: rotate(-45deg);
          }
        }
      }
    }
    .menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      z-index: 6;
      width: 29rem;
      height: calc(100vh + 2rem);
      margin: -9.5rem 0 0;
      padding: 4rem 0 5rem;
      left: -35.5rem;
      background: linear-gradient(40deg, #ffd86f, #fc6262);
      list-style-type: none;
      transition: 0.5s ease;
      overflow: hidden scroll;
      box-shadow: 5px 0px 10px #00000033;
      .open {
        left: 0;
      }
    }
    .logo {
      text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
        0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 20px rgba(0, 0, 0, 0.15);
    }
    .header-buttons {
      display: flex;
      & > * {
        margin: 0 1rem;
        & > * {
          outline: none;
          color: wheat;
        }
      }
      .switch {
        &__button {
          @include round-button($red);
        }
      }
      .stats {
        &__button {
          @include round-button($green);
        }
      }
    }
  }
}
.color-change-5x {
  animation: color-change-5x 7s linear infinite alternate both;
}
@keyframes color-change-5x {
  0% {
    background: #19dcea;
  }
  25% {
    background: #b22cff;
  }
  50% {
    background: #ea2222;
  }
  75% {
    background: #f5be10;
  }
  100% {
    background: #3bd80d;
  }
}
